<!DOCTYPE html>
<html lang="es">

<%# Import del HEAD del documento %>
<%- include("../partials/head", {usesBootstrap: false, title: "Workplace Station - Carrito de compras",
    description: "¿Ya encontraste lo que buscabas? ¡El producto se encuentra a un sólo click de distancia!",
    keywords: "Workplace Station, carrito de compras"}) %> 

<body>
    <%# Import del HADER %>
    <%- include("../partials/header") %>
    
    <main class="main-cart">
        <h1>Carrito de compras</h1>
        <section class="cart-container">
            <div class="cart-products">

                <%/*
                    Cargado de productos a través de sus partials a modo ilustrativo. 
                    La idea es que en un futuro se provea de un array que contenga todos los 
                    productos a ser cargados de modo que se recorra este array imprimiendo todos 
                    sus valores.
                */%>
                <%- include("../partials/cart-item", {imageSrc: "/img/our-products-chair.jpg",
                    productTitle: "Título del producto", price: 10000, productQuantity: 1}) %> 

                <%- include("../partials/cart-item", {imageSrc: "/img/our-products-chair.jpg",
                productTitle: "Título del producto", price: 10000, productQuantity: 1}) %> 

                <%- include("../partials/cart-item", {imageSrc: "/img/our-products-chair.jpg",
                productTitle: "Título del producto", price: 10000, productQuantity: 1}) %> 
                
            <div class="cart-summary">
                <div class="cart-summary-note-container">
                    <span>Agregar nota de orden:</span>
                    <textarea name="note" id="" cols="30" rows="4" placeholder="¿Podemos ayudarte? Dejá cualquier comentario que consideres necesario..."></textarea>
                </div>
                <p>Total: <span>$10.000</span></p>
            </div>
            <div class="cart-actions">
                <button class="action-button">Comprar</button>
                <button class="cart-actions-empty">Vaciar carrito</button>
            </div>
        </section>
    </main>

    <%# Import del footer %>
    <%- include("../partials/footer") %>

</body>

</html>