<!DOCTYPE html>
<html lang="es">

<%# Import del HEAD del documento %>
<%- include("../partials/head", {usesBootstrap: false, title: "Workplace Station - Carrito de compras",
    description: "¿Ya encontraste lo que buscabas? ¡El producto se encuentra a un sólo click de distancia!",
    keywords: "Workplace Station, carrito de compras"}) %> 

<body>
    <%# Import del HADER %>
    <%- include("../partials/header") %>
    
    <main class="main-cart">
        <h1>Carrito de compras</h1>
        <section class="cart-container">
            <% if(Array.isArray(products) && products.length != 0){ %>
                <div class="cart-products flex column" id="cart-products">
                    <% products.forEach( product => { %>

                        <article class="cart-item flex">
                            <img src="/img/uploaded/<%= product.images[0].url %>" alt="<%= product.shortDescription %>">
                            <div class="cart-item-info" id="<%= product.id %> ">
                                <h2><%= product.name %></h2>
                                <p><span class="product-price">$<%= product.price %></span></p>
                                <% if (product.discount != 0) { %>
                                    <p>
                                        <span class="products-section-info-discount">
                                            <%= product.discount != 0 ? product.discount : "" %>% Off
                                        </span>
                                    </p>
                                <% } %>
                                <div class="cart-item-actions flex">
                                    <div class="quantity-selector flex">
                                        <!-- <button type="button">-</button> -->
                                        <input type="number" name="quantity" id="cart-quantity-input-<%= product.id %>" value="<%= product.quantity %>">
                                        <!-- <button type="button">+</button> -->
                                    </div>
                                    <form action="/products/cart/<%= product.id %>?_method=DELETE" method="POST">
                                        <button class="cart-actions-empty" id="cart-delete-btn-<%= product.id %>" type="button"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </div>
                            </div>
                        </article>

                    <% }); %>
                </div>   
                <div class="cart-summary flex column">
                    <% 
                        /* 
                        * Calcula el valor total y el descuento acumulado de los productos 
                        */
                        let total = products.reduce((acum, element) => {
                            
                            if(element.discount == 0){
                                return acum + Number(element.price * element.quantity);
                            } else { // Aplica el descuento si lo hay
                                let applied = Number(element.price * element.quantity) - Number(element.price * element.quantity) * (Number(element.discount) / 100);
                                return acum + applied; 
                            }

                        }, 0); // El 0 es el valor inicial del acumulador

                        let withoutDiscount = products.reduce((acum, element) => {

                            return acum + Number(element.price * element.quantity);

                        }, 0);

                        let totalDiscount = withoutDiscount - total;

                    %>
                    <p>Descuento: <span id="total-discount">$<%= totalDiscount %></span></p>
                    <p>Total: <span id="total-price">$<%= total %></span></p>
                </div>
                <div class="cart-actions flex column">
                    <a href="/products/purchase" class="action-button">Comprar</a>
                    <button class="cart-actions-empty">Vaciar carrito</button>
                </div>
            <% } else { %>
                <div class="empty-cart-section flex column">
                    <img src="/img/sad-empty-cart.png" alt="Un carrito triste">
                    <h2>Aún no se agregaron productos...</h2>
                    <p>
                        ¡Pero eso tiene solución! ¡Te invitamos a ver nuestros
                        <a href="/products">productos</a>!
                    </p>
                </div>
            <% } %>
        </section>
    </main>

    <%# Import del footer %>
    <%- include("../partials/footer") %>
    <script src="/js/interactive/cart.js"></script>
</body>

</html>