<!DOCTYPE html>
<html lang="es">

<%# Import del HEAD del documento %>
<%- include("../partials/head", {usesBootstrap: false, title: "Workplace Station - Carrito de compras",
    description: "¿Ya encontraste lo que buscabas? ¡El producto se encuentra a un sólo click de distancia!",
    keywords: "Workplace Station, carrito de compras"}) %> 

<body>
    <%# Import del HADER %>
    <%- include("../partials/header") %>
    
    <main class="main-cart">
        <h1>Carrito de compras</h1>
        <section class="cart-container">
            <% if(Array.isArray(products) && products.length != 0){ %>
                <div class="cart-products flex column">
                    <% products.forEach( product => { %>

                        <article class="cart-item flex">
                            <img src="/img/uploaded/<%= product.images[0].url %>" alt="<%= product.shortDescription %>">
                            <div class="cart-item-info">
                                <h2><%= product.name %></h2>
                                <p><span>$<%= product.price %></span></p>
                                <div class="cart-item-actions flex">
                                    <div class="quantity-selector flex">
                                        <button>-</button>
                                        <span>1</span>
                                        <button>+</button>
                                    </div>
                                    <form action="/products/cart/<%= product.id %>?_method=DELETE" method="POST">
                                        <button class="cart-actions-empty" type="submit"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </div>
                            </div>
                        </article>

                    <% }); %>
                </div>   
                <div class="cart-summary flex column">
                    <div class="cart-summary-note-container">
                        <span>Agregar nota de orden:</span>
                        <textarea name="note" id="" cols="30" rows="4" placeholder="¿Podemos ayudarte? Dejá cualquier comentario que consideres necesario..."></textarea>
                    </div>
                    <% 
                        /* 
                        * Calcula el valor total de los productos.
                        * Cuando se pueda acceder a variables definidas por el usuario,
                        * se va a tener en cuenta el multiplicador de la cantidad que
                        * se desea comprar.
                        */
                        var total = products.reduce((acum, element) => {
                            
                            if(element.discount == 0){
                                return acum + element.price;
                            } else { // Aplica el descuento si lo hay
                                return element.price - (acum + element.price * (element.discount / 100)); 
                            }

                        }, 0); // El 0 es el valor inicial del acumulador
                    %>
                    <p>Total: <span>$<%= total %></span></p>
                </div>
                <div class="cart-actions flex column">
                    <button class="action-button">Comprar</button>
                    <button class="cart-actions-empty">Vaciar carrito</button>
                </div>
            <% } else { %>
                <div class="empty-cart-section flex column">
                    <img src="/img/sad-empty-cart.png" alt="Un carrito triste">
                    <h2>Aún no se agregaron productos...</h2>
                    <p>
                        ¡Pero eso tiene solución! ¡Te invitamos a ver nuestros
                        <a href="/products">productos</a>!
                    </p>
                </div>
            <% } %>
        </section>
    </main>

    <%# Import del footer %>
    <%- include("../partials/footer") %>

</body>

</html>