<!DOCTYPE html>
<html lang="es">

<%# Import del HEAD del documento %>
<%- include("../partials/head", {usesBootstrap: true, title: "Workplace Station - Detalle del producto",
    description: "¡En Workplace Station te ofrecemos todo lo necesario para armar tu estación de trabajo! ¡Formá parte de nuestra plataforma y tené acceso a todos nuestros productos!",
    keywords: "Workplace Station, detalle del producto, previsualización"})%>

<body>
    <%# Import del HADER %>
    <%- include("../partials/header") %>

    <main class="main-product-detail">
        <% if(product != undefined){ %><%# if para discrminar entre productos existentes e inexistentes %>

            <div class="navmap-container">
                <!-- Mapa de navegación dentro de la sección de productos -->
                <a href="">Inicio</a>
                <span> / </span>
                <a href="">Productos</a>
                <span> / </span>
                <a href=""><%= category.name %></a>
                <span> / </span>
                <a href=""><%= product.name %> </a>
            </div>

            <section class="product-template">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <%# Carga las pestañas de navegación entre imágenes según las imágenes del producto %>
                        <% for(let i = 0; i < product.images.length; i++){ %>
                            <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %> " 
                            class="<%= i == 0 ? 'active' : '' %>"
                            style="background-image: url('/img/uploaded/<%= product.images[i] %>'); object-fit: fill;"></li>
                        <% } %>
                    </ol>
                    <div class="carousel-inner">
                        <%# Carga las imágenes del producto en orden %>
                        <% for(let i = 0; i < product.images.length; i++){ %>
                            <div class="carousel-item<%= i == 0 ? ' active' : '' %>">
                                <img src="/img/uploaded/<%= product.images[i] %>" class="d-block w-100" 
                                alt="Imagen ilustrativa del producto">
                            </div>
                        <% } %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="product-info">
                    <h2><%= product.name %></h2>
                    <p>$<%= product.price %></p>
                    <p><%= product.briefDescription %></p>
                </div>
                <div class="product-more-info">
                    <!-- Bootstrap collapse acordion -->
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Descripción detallada
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <%= product.description %>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Información adicional
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <%= product.aditionalInfo %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-actions">
                    <div class="quantity-selector">
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                    </div>
                    <button class="action-button">Agregar al carrito</button>
                    <button class="action-button">Comprar ahora</button>
                </div>
            </section>
            <section class="product-recomendation">
            </section>

        <% } else { %>
            <h1>¡UPS! Nada por aquí...</h1>
        <% } %>
        <div class="flex column">
            <a href="/products/<%= product.id %>/edit"><button type="button" class="action-button">Editar</button></a>
            <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit" class="action-button">Eliminar</button>
            </form>
        </div>
    </main>
    
    <%# Import del footer %>
    <%- include("../partials/footer") %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>