<!DOCTYPE html>
<html lang="es">

<%# Import del HEAD del documento %>
<%- include("../partials/head", {usesBootstrap: false, title: "Workplace Station - Edición Productos",
    description: "Formulario de edición de productos",
    keywords: "Workplace Station, formulario, edición, productos"}) %>

<body>
    <%# Import del HADER %>
    <%- include("../partials/header") %>

    <main class="main-form-container product-form-container">
        <div class="form-container">
            <h1> Edición de producto <i class="fas fa-clipboard-list"></i></i></h1>
            <form action="" method="POST">

                <label for="name" class="input-label"><span class="asterisk">*</span> NOMBRE:</label>
                <input type="text" class="input-text" name="name" id="name" placeholder="Ej: Silla ergonómica gamer..." 
                    autocomplete="true" value="<%= product.name %>" required>
                
                <label for="briefDescription" class="input-label"><span class="asterisk">*</span> DESCRIPCIÓN BREVE (máximo 100 caracteres):</label>
                <textarea name="briefDescription" id="briefDescription" class="input-textarea" placeholder="Ej: Silla ergonómica gamer con soporte lumbar regulable..." maxlength="100" required><%= product.briefDescription %></textarea>
                
                <div>
                    <div>
                        <label for="price" class="input-label"><span class="asterisk">*</span> PRECIO:</label>
                        <input type="number" class="input-text" name="price" id="price" placeholder="$" 
                        autocomplete="true" value="<%= product.price %>" required>
                    </div>

                    <!-- Consultar como hacer para que esté seleccionada la opción correspondiente -->
                    <div>
                        <label for="discount" class="input-label">DESCUENTO:</label>
                        <select name="discount" id="discount" class="input-text">
                            <option value="0">NO</option>
                            <option value="5">5 %</option>
                            <option value="10">10 %</option>
                            <option value="15">15 %</option>
                            <option value="20">20 %</option>
                            <option value="25">25 %</option>
                            <option value="30">30 %</option>
                            <option value="35">35 %</option>
                            <option value="40">40 %</option>
                            <option value="45">45 %</option>
                            <option value="50">50 %</option>
                        </select>
                    </div>

                    <div>
                        <label for="stock" class="input-label"><span class="asterisk">*</span> STOCK:</label>
                        <input type="number" class="input-text" name="stock" id="stock" placeholder="Ej: 10" 
                        autocomplete="true" value="<%= product.stock %>" required>
                    </div>

                    <div>
                        <label for="color" class="input-label">COLOR:</label>
                        <input type="color" class="input-text" name="color" id="color">
                    </div>
                </div>
                
                <!-- Consultar como hacer para que esté seleccionada la opción correspondiente -->
                <label for="category" class="input-label"><span class="asterisk">*</span> CATEGORY:</label>
                <select name="category" id="category" class="input-text" required>
                    <option value="ws">Estaciones de trabajo</option>
                    <option value="desk">Escritorios</option>
                    <option value="chair">Sillas</option>
                    <option value="accesories">Accesorios</option>
                </select>

                <!-- Consultar como hacer con las imagenes para que estén traidas ya -->
                <label for="image" class="input-label"><span class="asterisk">*</span> CARGAR IMÁGENES:</label>
                <label class="action-button">
                    <input type="file" name="image" id="imagesUpload" multiple required>
                    Seleccionar
                </label>

                <label for="description" class="input-label">DESCRIPCIÓN:</label>
                <textarea name="description" id="description" class="input-textarea" placeholder="Descripción..." rows="4"><%= product.description %></textarea>

                <label for="aditionalInfo" class="input-label">INFORMACIÓN ADICIONAL:</label>
                <textarea name="aditionalInfo" id="aditionalInfo" class="input-textarea" placeholder="Información adicional..." rows="4"><%= product.aditionalInfo %></textarea>

                <p class="input-label">Los campos indicados con <span class="asterisk">*</span> son obligatorios.</p>

                <button type="submit" class="action-button">Enviar</button>
                <button type="reset" class="action-button">Resetear</button>
            </form>
        </div>
    </main>

    <%# Import del footer %>
    <%- include("../partials/footer") %> 

</body>
</html>