<!DOCTYPE html>
<html lang="es">

<%# Import del HEAD del documento %>
<%- include("../partials/head", {usesBootstrap: false, title: "Workplace Station - Edición Productos",
    description: "Formulario de edición de productos",
    keywords: "Workplace Station, formulario, edición, productos"}) %>

<body>
    <%# Import del HADER %>
    <%- include("../partials/header") %>

    <main class="main-form-container">
        <div class="form-container create-form-container flex column">
            <h1> Edición de producto <i class="fas fa-clipboard-list"></i></i></h1>
            <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="flex column">
                    <label for="name" class="input-label"><span class="asterisk">*</span> NOMBRE:</label>
                    <input type="text" class="input-text" name="name" id="name" placeholder="Ej: Silla ergonómica gamer..." 
                        autocomplete="true" value="<%= product.name %>" required>
                </div>
                
                <div class="flex column">
                    <label for="briefDescription" class="input-label"><span class="asterisk">*</span> DESCRIPCIÓN BREVE (máximo 100 caracteres):</label>
                    <textarea name="briefDescription" id="briefDescription" class="input-textarea" placeholder="Ej: Silla ergonómica gamer con soporte lumbar regulable..." maxlength="100" required><%= product.briefDescription %></textarea>
                </div>

                <div class="create-form-div-container flex column">
                    <div class="flex column">
                        <label for="price" class="input-label"><span class="asterisk">*</span> PRECIO:</label>
                        <input type="number" class="input-text" name="price" id="price" placeholder="$" 
                        autocomplete="true" value="<%= product.price %>" required>
                    </div>

                    <div class="flex column">
                        <label for="discount" class="input-label">DESCUENTO:</label>
                        <select name="discount" id="discount" class="input-text">
                            <option value="0" <%= product.discount === 0 ? "selected" : null %>>NO</option>
                            <option value="5" <%= product.discount === 5 ? "selected" : null %>>5 %</option>
                            <option value="10" <%= product.discount === 10 ? "selected" : null %>>10 %</option>
                            <option value="15" <%= product.discount === 15 ? "selected" : null %> >15 %</option>
                            <option value="20" <%= product.discount === 20 ? "selected" : null %> >20 %</option>
                            <option value="25" <%= product.discount === 25 ? "selected" : null %> >25 %</option>
                            <option value="30" <%= product.discount === 30 ? "selected" : null %> >30 %</option>
                            <option value="35" <%= product.discount === 35 ? "selected" : null %> >35 %</option>
                            <option value="40" <%= product.discount === 40 ? "selected" : null %> >40 %</option>
                            <option value="45" <%= product.discount === 45 ? "selected" : null %> >45 %</option>
                            <option value="50" <%= product.discount === 50 ? "selected" : null %> >50 %</option>
                        </select>
                    </div>

                    <div class="flex column">
                        <label for="stock" class="input-label"><span class="asterisk">*</span> STOCK:</label>
                        <input type="number" class="input-text" name="stock" id="stock" placeholder="Ej: 10" 
                        autocomplete="true" value="<%= product.stock %>" required>
                    </div>
                </div>
                
                <div class="flex column">
                    <label for="category" class="input-label"><span class="asterisk">*</span> CATEGORY:</label>
                    <select name="category" id="category" class="input-text" required>
                        <%# Imprime todas las categorías dejando seleccionada la categoría del producto %>
                        <% categories.forEach(category => { %>
                            <option value="<%= category.id %>" <%= product.category == category.id ? "selected" : null %>>
                                <%= category.name %> 
                            </option>
                        <% }); %>
                    </select>
                </div>

                <%# Muestra todas las imágenes y da la opción al usuario de seleccionar todas las que desée eliminar %>
                <label for="image-selector" class="input-label">BORRAR IMÁGENES:</label>
                <div class="image-selector flex">
                    <% product.images.forEach(image => { %>
                        <img src="/img/uploaded/<%= image %> " alt="Imagen ilustrativa del producto">
                        <label class="checkable-container">Borrar
                            <input type="checkbox" name="deleteImages" value="<%= image %>">
                            <span class="custom-checkable"></span>
                        </label>
                    <% }); %>
                </div>

                <div class="flex column">
                    <label for="image" class="input-label"> AÑADIR IMÁGENES:
                        <br>
                        <span class="image-format-label">formatos soportados: jpg, jpeg, png, gif</span>
                    </label>
                    <label class="action-button">
                        <input type="file" name="image" id="imagesUpload" multiple>
                        Seleccionar
                    </label>
                </div>

                <div class="flex column">
                    <label for="description" class="input-label">DESCRIPCIÓN:</label>
                    <textarea name="description" id="description" class="input-textarea" placeholder="Descripción..." rows="4"><%= product.description %></textarea>
                </div>

                <div class="flex column">
                    <label for="aditionalInfo" class="input-label">INFORMACIÓN ADICIONAL:</label>
                    <textarea name="aditionalInfo" id="aditionalInfo" class="input-textarea" placeholder="Información adicional..." rows="4"><%= product.aditionalInfo %></textarea>
                </div>

                <p class="input-label">Los campos indicados con <span class="asterisk">*</span> son obligatorios.</p>

                <div class="flex column">
                    <button type="submit" class="action-button">Enviar</button>
                    <button type="reset" class="action-button">Resetear</button>
                </div>
            </form>
        </div>
    </main>

    <%# Import del footer %>
    <%- include("../partials/footer") %> 

</body>
</html>