<!DOCTYPE html>
<html lang="es">

<%# Import del HEAD del documento %>
<%- include("../partials/head", {usesBootstrap: false, title: "Workplace Station - Productos",
    description: "¡Te invitamos a ver nuestra amplia selección de productos!",
    keywords: "Workplace Station, productos, oferta de productos"})%>

<body>
    <%# Import del HADER %>
    <%- include("../partials/header") %>

    <main class="main-products">

        <section class="nav-section flex column">
            <div class="navmap-container flex">
                <!-- Mapa de navegación dentro de la sección de productos -->
                <a href="">Inicio</a>
                <span>/</span>
                <a href="">Productos</a>
            </div>
            <div class="products-buttons-container flex">
                <button class="filter-button">
                    <span> Filtrar</span>
                    <i class="fas fa-filter"></i>
                </button>
                <button class="category-button">
                    <span> Categorías </span>
                    <i class="fas fa-list"></i>
                </button>
                <button class="order-button">
                    <span> Ordenar </span>
                    <i class="fas fa-sort"></i>
                </button>
            </div>
            <aside class="products-nav">
                <section class="view-options flex column">
                    <h2>Ordenar productos</h2>
                    <div class="order-view flex column">
                        <div class="views flex">
                            <button>
                                <i class="fas fa-th-list"></i>
                            </button>
                            <button>
                                <i class="fas fa-th-large"></i>
                            </button>
                            <button>
                                <i class="fas fa-th"></i>
                            </button>
                        </div>
                        <div class="order flex">
                            <label for="order">Ordenar por:</label>
                            <select name="order" id="order" class="input-text">
                                <option value="best-seller">Más vendidos</option>
                                <option value="lower-price">Menor precio</option>
                                <option value="higher-price">Mayor precio</option>
                            </select>
                        </div>
                    </div>
                </section>
                <section class="filter-groups">
                    <dl class="filter-category">
                        <dt>
                            <h2>Categorías</h2>
                        </dt>
                        <% categories.forEach(category => { %>
                            <dd>
                                <h3>
                                    <a href="#"><%= category.name %></a>
                                </h3>
                            </dd>
                        <% }); %>
                    </dl>
                    <dl class="filter-discount">
                        <dt>
                            <h2>Descuentos</h2>
                        </dt>
                        <dd>
                            <a href="#">
                                <span>Desde 10% off</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="#">
                                <span>Desde 20% off</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="#">
                                <span>Desde 30% off</span>
                            </a>
                        </dd>
                    </dl>
                    <dl class="filter-delivery">
                        <dt>
                            <h2>Tipo de entrega</h2>
                        </dt>
                        <dd>
                            <a href="#">
                                <span>Retiro por sucursal</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="#">
                                <span>Con envío</span>
                            </a>
                        </dd>
                    </dl>
                    <!-- Seguir agregando más tipos de filtrados -->
                </section>
            </aside>
        </section>

        <section class="products-section flex column">

            <%# Los datos se envía a esta vista dentro de un array de objetos literales llamado "products" %>
            <% if(products.length != 0) { %>
                <% products.forEach(product => { %>
                    
                    <article>
                        <a href="/products/<%= product.id %>">
                            <img src="/img/uploaded/<%= product.images[0].url %>" alt="Imagen ilustrativa del producto">
                            <div class="products-section-info">
                                <span class="products-section-info-price">$<%= product.price %></span>
                                <% if(product.discount > 0) { %>
                                    <span class="products-section-info-discount"><%= product.discount %>% off</span>
                                <% } %>
                            </div>
                            <h2><%= product.name %></h2>
                        </a>
                    </article>
        
                <% }); %>
            <% } else { %> 
                <h1>¡UPS! ¡No hubo coincidencias!</h1>
            <% } %> 
            
        </section>

    </main>

    <%# Import del footer %>
    <%- include("../partials/footer") %>

</body>

</html>