<!DOCTYPE html>
<html lang="es">

<%# Import del HEAD del documento %>
<%- include("../partials/head", {usesBootstrap: false, title: "Workplace Station - user edit",
    description: "¿Querés formar parte de nuestra plataforma? ¡Tené acceso ilimitado a todos nuestros servicios!",
    keywords: "Workplace Station, formulario, edición, edición usuario, editar cuenta"})%>
<script src="/js/userValidator.js"></script>

<body>
    <%# Import del HADER %>
    <%- include("../partials/header") %>

    <main class="main-form-container register-form-container">

        <div class="form-container">
            <h1> Edición de perfil <i class="far fa-id-badge"></i></h1>

            <form id="user-form" class="flex column" action="/users/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <!-- Nombre -->
                <label for="name"><span class="asterisk">*</span> Nombre/s:</label>
                <input type="text" name="name" id="name" placeholder="John" autocomplete="true" value="<%= user.name %>" required
                class="input-text <%= locals.errors && errors.name ? 'input-alert' : '' %>">
                <p class="alert-label">
                    <%= locals.errors && errors.name ? errors.name.msg : '' %>
                </p>

                <!-- Apellido -->
                <label for="last-name"><span class="asterisk">*</span> Apellido/s:</label>
                <input type="text" name="last-name" id="last-name" placeholder="Wick" autocomplete="true" value="<%= user.lastName %>" required
                class="input-text <%= locals.errors && errors['last-name'] ? 'input-alert' : '' %>"> 
                <p class="alert-label">
                    <%= locals.errors && errors["last-name"] ? errors["last-name"].msg : '' %>
                </p>

                
                <!-- Nombre de usuario -->
                <label for="user-name"><span class="asterisk">*</span> Nombre de usuario:</label>
                <input type="text" name="user-name" id="user-name" placeholder="boogeyman" 
                autocomplete="true" value="<%= user.userName %>" required
                class="input-text <%= locals.errors && errors["user-name"] ? 'input-alert' : '' %>">
                <p class="alert-label">
                    <%= locals.errors && errors["user-name"] ? errors["user-name"].msg : '' %>
                </p>

                <!-- Género -->
                <div class="gender-radio-container flex column">
                    <label for="gender" class="input-label">Género</label>

                    <label class="checkable-container" id="masc-radio">
                        <span>Masculino</span>
                        <input type="radio" name="gender" value="1" <%= user.gender == 1 ? "checked" : null %>>
                        <span class="custom-checkable"></span>
                    </label>

                    <label class="checkable-container" id="fem-radio">Femenino
                        <input type="radio" name="gender" value="2" <%= user.gender == 2 ? "checked" : null %>>
                        <span class="custom-checkable"></span>
                    </label>

                    <label class="checkable-container" id="other-radio">Otro
                        <input type="radio" name="gender" value="3" <%= user.gender == 3 ? "checked" : null %>>
                        <span class="custom-checkable"></span>
                    </label>
                </div>
                <p class="alert-label">
                    <%= locals.errors && errors.gender ? errors.gender.msg : '' %>
                </p>

                <!-- Fecha de nacimiento -->
                <label for="birth" class="input-label"><span class="asterisk">*</span>Fecha de nacimiento:</label>
                <input type="date" name="birth" id="birth" placeholder="dd/mm/aaaa" value="<%= user.birth %>" required
                class="input-text <%= locals.errors && errors.birth ? 'input-alert' : '' %>">
                <p class="alert-label">
                    <%= locals.errors && errors.birth ? errors.birth.msg : '' %>
                </p>

                <!-- Domicilio -->
                <label for="address"><span class="asterisk">*</span> Domicilio:</label>
                <input type="text" name="address" id="address" placeholder="Calle Falsa 123" 
                autocomplete="true" value="<%= user.address %>" required
                class="input-text <%= locals.errors && errors.address ? 'input-alert' : '' %>">
                <p class="alert-label">
                    <%= locals.errors && errors.address ? errors.address.msg : '' %>
                </p>

                <!-- Teléfono -->
                <label for="phone-number">Número de teléfono:</label>
                <input type="tel" name="phone-number" id="phone-number" placeholder="Número de teléfono (*)"
                autocomplete="true" value="<%= user.phoneNumber %>"
                class="input-text <%= locals.errors && errors["phone-number"] ? 'input-alert' : '' %>">
                <p class="alert-label">
                    <%= locals.errors && errors["phone-number"] ? errors["phone-number"].msg : '' %>
                </p>

                <!-- Foto de perfil -->
                <p class="image-format-label">* Formatos soportados: jpg, jpeg, png, gif, webp</p>
                <label class="action-button">
                    <input type="file" name="profile-photo" id="profile-photo">
                    Foto de perfil
                </label>
                <p class="alert-label">
                    <%= locals.errors && errors["profile-photo"] ? errors["profile-photo"].msg : '' %>
                </p>

                <p class="input-label">
                    En caso de no querer modificar la foto de perfil no seleccionar ninguna y se mantendrá la original
                </p>

                <!-- Checkbox de intereses -->
                <div class="interests-checkbox-container flex column">
                    <label for="interests" class="input-label">Intereses</label>
                    <%# Imprime los checkbox con todas las categorías disponibles %>
                    <% categories.forEach(category => { %>
                        <label class="checkable-container"><%= category.name %>
                            <input type="checkbox" name="interests" value="<%= category.id %>" 
                                <%= user.interests && user.interests.incudes(category.id) ? 'checked' : '' %>
                            >
                            <span class="custom-checkable"></span>
                        </label>
                    <% }); %>
                </div>
                <p class="alert-label">
                    <%= locals.errors && errors.interests ? errors.interests.msg : '' %>
                </p>

                <p class="input-label">
                    Los campos indicados con (<span class="asterisk">*</span>) son obligatorios.
                </p>

                <button type="submit" class="action-button">Enviar</button>
                <button type="reset" class="action-button">Resetear</button>

            </form>

        </div>

    </main>

    <%# Import del footer %>
    <%- include("../partials/footer") %>

</body>

</html>