<!DOCTYPE html>
<html lang="es">

<%# Import del HEAD del documento %>
<%- include("../partials/head", {usesBootstrap: false, title: "Workplace Station - Ingresá",
    description: "¿Ya formás parte de nuestra plataforma? ¡Ingresá para tener acceso ilimitado a todos nuestros servicios!",
    keywords: "Workplace Station, formulario, ingresar, iniciar sesión"})%>

<body>
    <%# Import del HADER %>
    <%- include("../partials/header") %>

    <main class="main-form-container">
        
        <div class="form-container">
            <h1>
                Ingresá <i class="fas fa-sign-in-alt"></i>
            </h1>
            <form class="flex column" action="/users/login" method="POST">

                <input type="text" name="user-input" id="user-input" placeholder="Email o Nombre de Usuario" 
                    autocomplete="true"
                    class="input-text <%= locals.errors && errors["user-input"] ? 'input-alert' : '' %>"
                    value="<%= locals.userInput ? locals.userInput : '' %>">
                <input type="password" class="input-text <%= locals.errors && errors["password"] ? 'input-alert' : '' %>" name="password" id="password" placeholder="Contraseña"
                    autocomplete="true">

                <%# Mensaje visible sólo en caso de que se hayan ingresado datos inválidos %>
                <p id="login-alert" class="alert-label">
                    <% if (locals.errors && errors) { %>
                        <% if(errors["user-input"] && errors["password"]) { %> 
                            <%= errors["user-input"].msg %> <br>
                            <%= errors["password"].msg %>
                        <% } else if(errors["user-input"]) { %> 
                            <%= errors["user-input"].msg %> 
                        <% } else if(errors["password"]) { %> 
                            <%= errors["password"].msg %>
                        <% } else { %> 
                            <%= errors.authenticate.msg %>
                        <% } %> 
                    <% } else {''} %> 
                </p>
                
                <button type="submit" class="action-button">Ingresar</button>

                <label class="checkable-container remember-me-container">Recordarme
                    <input type="checkbox" name="remember-me" id="remember-me" value="remember-me">
                    <span class="custom-checkable remember-me-checkable"></span>
                </label>

                <a href="/users/register">¿No tenés cuenta? REGISTRATE</a>
                <a href="">¿Olvidaste tu contraseña?.</a>
                
            </form>
        </div>

    </main>

    <%# Import del footer %>
    <%- include("../partials/footer") %>

</body>

</html>