<!DOCTYPE html>
<html lang="es">

<%# Import del HEAD del documento %>
<%- include("../partials/head", {usesBootstrap: false, title: "Workplace Station - Registrate",
    description: "¿Querés formar parte de nuestra plataforma? ¡Tené acceso ilimitado a todos nuestros servicios!",
    keywords: "Workplace Station, formulario, registro, crear cuenta"})%>
<script src="/js/userValidator.js"></script>

<body>
    <%# Import del HADER %>
    <%- include("../partials/header") %>

    <main class="main-form-container register-form-container">

        <div class="form-container">
            <h1> Registro <i class="far fa-id-badge"></i></h1>

            <form id="user-form" class="flex column" action="/users/register" method="POST" enctype="multipart/form-data">
                <!-- Nombre -->
                <label for="name"><span class="asterisk">*</span> Nombre/s:</label>
                <input type="text" name="name" id="name" placeholder="John" autocomplete="true" 
                value="<%= locals.userInput && userInput.name ? userInput.name : '' %>" required
                class="input-text <%= locals.errors && errors.name ? 'input-alert' : '' %>">
                <p class="alert-label">
                    <%= locals.errors && errors.name ? errors.name.msg : '' %>
                </p>

                <!-- Apellido -->
                <label for="last-name"><span class="asterisk">*</span> Apellido/s:</label>
                <input type="text" name="last-name" id="last-name" placeholder="Wick" autocomplete="true" 
                value="<%= locals.userInput && userInput['last-name'] ? userInput['last-name'] : '' %>" required
                class="input-text <%= locals.errors && errors['last-name'] ? 'input-alert' : '' %>">
                <p class="alert-label">
                    <%= locals.errors && errors["last-name"] ? errors["last-name"].msg : '' %>
                </p>

                <!-- Email -->
                <label for="email"><span class="asterisk">*</span> Dirección de e-mail:</label>
                <input type="email" name="email" id="email" placeholder="jwick@gmail.com" autocomplete="true" 
                value="<%= locals.userInput && userInput.email ? userInput.email : '' %>" required
                class="input-text <%= locals.errors && errors.email ? 'input-alert' : '' %>">
                <p class="alert-label">
                    <%= locals.errors && errors.email ? errors.email.msg : '' %>
                </p>

                <!-- Nombre de usuario -->
                <label for="user-name"><span class="asterisk">*</span> Nombre de usuario:</label>
                <input type="text" name="user-name" id="user-name" placeholder="boogeyman" autocomplete="true" 
                value="<%= locals.userInput && userInput['user-name'] ? userInput['user-name'] : '' %>" required
                class="input-text <%= locals.errors && errors["user-name"] ? 'input-alert' : '' %>">
                <p class="alert-label">
                    <%= locals.errors && errors["user-name"] ? errors["user-name"].msg : '' %>
                </p>

                <!-- Contraseña -->
                <label for="password"><span class="asterisk">*</span> Contraseña (mínimo 8 caracteres):</label>
                <input type="password" name="password" id="password" placeholder="********" autocomplete="true" 
                class="input-text <%= locals.errors && errors.password ? 'input-alert' : '' %>" required>
                <p class="alert-label">
                    <%= locals.errors && errors.password ? errors.password.msg : '' %>
                </p>

                <!-- Confirmación -->
                <label for="password-check"><span class="asterisk">*</span> Repetir contraseña:</label>
                <input type="password" name="password-check" id="password-check" placeholder="********" autocomplete="true" 
                class="input-text <%= locals.errors && errors["password-check"] ? 'input-alert' : '' %>" required>
                <p class="alert-label">
                    <%= locals.errors && errors["password-check"] ? errors["password-check"].msg : '' %>
                </p>
                
                <!-- Género -->
                <div class="gender-radio-container flex column">
                    <label for="gender" class="input-label">Género</label>

                    <label class="checkable-container" id="masc-radio">
                        <span>Masculino</span>
                        <input type="radio" name="gender" value="1" <%= locals.userInput && userInput.gender == 1 ? "checked" : "" %>>
                        <span class="custom-checkable"></span>
                    </label>

                    <label class="checkable-container" id="fem-radio">Femenino
                        <input type="radio" name="gender" value="2" <%= locals.userInput && userInput.gender == 2 ? "checked" : "" %>>
                        <span class="custom-checkable"></span>
                    </label>

                    <label class="checkable-container" id="other-radio">Otro
                        <input type="radio" name="gender" value="3" 
                        <%= (locals.userInput && userInput.gender == 3) || !locals.userInput ? "checked" : "" %>>
                        <span class="custom-checkable"></span>
                    </label>
                </div>
                <p class="alert-label">
                    <%= locals.errors && errors.gender ? errors.gender.msg : '' %>
                </p>

                <!-- Fecha de nacimiento -->
                <label for="birth"><span class="asterisk">*</span>Fecha de nacimiento:</label>
                <input type="date" name="birth" id="birth" placeholder="dd/mm/aaaa" required
                value="<%= locals.userInput && userInput.birth ? userInput.birth : '' %>"
                class="input-text <%= locals.errors && errors.birth ? 'input-alert' : '' %>">
                <p class="alert-label <%= locals.errors && errors.birth ? 'input-alert' : '' %>">
                    <%= locals.errors && errors.birth ? errors.birth.msg : '' %>
                </p>

                <!-- Domicilio -->
                <label for="address"><span class="asterisk">*</span> Domicilio:</label>
                <input type="text" name="address" id="address" placeholder="Calle falsa 123, CABA" autocomplete="true" 
                value="<%= locals.userInput && userInput.address ? userInput.address : '' %>" required
                class="input-text <%= locals.errors && errors.address ? 'input-alert' : '' %>">
                <p class="alert-label">
                    <%= locals.errors && errors.address ? errors.address.msg : '' %>
                </p>

                <!-- Teléfono -->
                <label for="phone-number">Número de teléfono:</label>
                <input type="tel" name="phone-number" id="phone-number" placeholder="+54 9 11 52637400"
                autocomplete="true" value="<%= locals.userInput && userInput['phone-number'] ? userInput['phone-number'] : '' %>"
                class="input-text <%= locals.errors && errors["phone-number"] ? 'input-alert' : '' %>">
                <p class="alert-label <%= locals.errors && errors["phone-number"] ? 'input-alert' : '' %>">
                    <%= locals.errors && errors["phone-number"] ? errors["phone-number"].msg : '' %>
                </p>

                <!-- Foto de perfil -->
                <p class="image-format-label">* Formatos soportados: jpg, jpeg, png, gif, webp</p>
                <label class="action-button <%= locals.errors && errors["profile-photo"] ? 'input-alert' : '' %>">
                    <input type="file" name="profile-photo" id="profile-photo">
                    Foto de perfil
                </label>
                <p class="alert-label">
                    <%= locals.errors && errors["profile-photo"] ? errors["profile-photo"].msg : '' %>
                </p>

                <!-- Checkbox de intereses -->
                <div class="interests-checkbox-container flex column">
                    <label for="interests" class="input-label">Intereses</label>
                    <%# Imprime los checkbox con todas las categorías disponibles %>
                    <% categories.forEach(category => { %>
                        <label class="checkable-container"><%= category.name %>
                            <input type="checkbox" name="interests" value="<%= category.id %>">
                            <span class="custom-checkable"></span>
                        </label>
                    <% }); %>
                </div>
                <p class="alert-label">
                    <%= locals.errors && errors.interests ? errors.interests.msg : '' %>
                </p>

                <p class="input-label">
                    Los campos indicados con (<span class="asterisk">*</span>) son obligatorios.
                </p>

                <button type="submit" class="action-button">Enviar</button>
                <button type="reset" class="action-button">Resetear</button>

            </form>

        </div>

    </main>

    <%# Import del footer %>
    <%- include("../partials/footer") %>

</body>

</html>